:host {
  display: block;
}

.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-toolbar {
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.shell-brand {
  font: var(--mat-sys-title-medium);
}

app-nav-menu {
  margin: auto;
}

.shell-content {
  flex: 1;
}

@media (max-width: 600px) {}