<ng-container *transloco="let t">
  <button class="lang-trigger-button"
    matButton="tonal"
    type="button"
    [matMenuTriggerFor]="languageMenu"
    [attr.aria-label]="t('shell.languageSwitcher.triggerAriaLabel', { language: currentLanguage().label })"
  >
    <span class="lang-trigger-content">
      <img
        class="lang-flag"
        [src]="currentLanguage().flagUrl"
        [alt]="currentLanguage().label + ' flag'"
        width="20"
        height="20"
        loading="lazy"
        decoding="async"
      />
      <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
    </span>
  </button>
</ng-container>

<mat-menu #languageMenu="matMenu">
  @for (language of languages(); track language.code) {
    <button mat-menu-item type="button" (click)="setLanguage(language.code)">
      <span class="lang-option-content">
        <img
          class="lang-flag"
          [src]="language.flagUrl"
          [alt]="language.label + ' flag'"
          width="20"
          height="20"
          loading="lazy"
          decoding="async"
        />
        <span>{{ language.label }}</span>
      </span>
    </button>
  }
</mat-menu>
