@use '@angular/material' as mat;
@use './styles/themes/theme-colors' as theme;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme((color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

@media (forced-colors: active) {
  html {
    @include theme.high-contrast-overrides(color-scheme);
  }
}

// mat-menu vertical padding override
.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-mdc-snack-bar-container.notif-success {
  --mdc-snackbar-container-color: var(--mat-sys-secondary-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-secondary-container);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-primary);
}

.mat-mdc-snack-bar-container.notif-info {
  --mdc-snackbar-container-color: var(--mat-sys-surface-container-high);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-surface);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-primary);
}

.mat-mdc-snack-bar-container.notif-warn {
  --mdc-snackbar-container-color: var(--mat-sys-tertiary-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-tertiary-container);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-primary);
}

.mat-mdc-snack-bar-container.notif-error {
  --mdc-snackbar-container-color: var(--mat-sys-error-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error-container);
  --mat-mdc-snack-bar-button-color: var(--mat-sys-error);
}
