:host {
  display: block;
}

.nav-menu {
  display: flex;
  gap: .5rem;
}

.nav-link {
  border-radius: 999px;
}

.nav-link:hover {
  background: var(--mat-sys-surface-container-high);
}

.nav-link.active-link {
  background: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}
